
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h5{
    font-size:20px;
}

.topnav {
  overflow: hidden;
  background-color: #FFF0E2;
  margin-top: -18px;
  padding: 20px;
 
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}


.namelogo{
float: left;
  margin-top: -115px;
  padding: 40px;
}

.brownbackground {
  position: absolute;
  top: 80;
  left: 0;
  width: 100%;
  height: 50%; 
  background-color: #EED3BA;
 
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 10px;
  overflow-x: hidden;
  padding: 20px 0;

}

.sidenav a {
  padding: 20px 8px 20px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


.profile{
  display: flex;
  justify-content: space-between;
  margin: 100px 100px;
}

.profilepic{
  background-color: white;
  margin: 20px;
  padding: 20px;

  order: 1;
  flex: 1;
  }
  
  .aboutme{
  background-color: white;
  margin: 20px;
  padding: 20px;
  order: 2;
  flex: 1;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
  .week1tut1{
    margin: auto;
    padding-top: 80px;
    margin-right: 75px;
  }

  .week1tut2{

    margin: auto;
    padding-top: 100px;
    margin-right: 75px;
  }

  .week2tut3{

    margin: auto;
    padding-top: 100px;
    margin-right: 75px;
  }

  .week2tut4{

    margin: auto;
    padding-top:80px;
    margin-right: 75px;
  }

  .week3tut5{

    margin: auto;
    padding-top: 360px;
    margin-right: 75px;
  }

  .week3tut6{

    margin: auto;
    padding-top: 310px;
    margin-right: 75px;
  }

  .week4tut7{

    margin: auto;
    padding-top: 300px;
    margin-right: 75px;
  }

  .week4tut8{

    margin: auto;
    padding-top: 530px;
    margin-right: 75px;
  }


.row1{
  display: flex;
  justify-content: space-between;
  margin: 20px;}

.Weekboxes1{
  background-color: white;
  margin: 20px;
  padding: 20px;
  padding-top: 20px;
  order: 1;
  flex: 1;
  }
  
  .Weekboxes2{
  background-color: white;
  margin: 20px;
  padding: 20px;
  padding-top: 20px;
  order: 2;
  flex: 1;
  }
  
  .Weekboxes3{
  background-color: white;
  margin: 20px;
  padding: 20px;
  padding-top: 20px;
  order: 3;
  flex: 1;
  }

  .Weekboxes4{
    background-color: white;
    margin: 20px;
    padding: 20px;
    padding-top: 20px;
    order: 4;
    flex: 1;
    }

  .Weekboxes1 :hover img {  /* hover zoom */
      transform: scale(1.1);
  }
  .Weekboxes2 :hover img {  /* hover zoom */
      transform: scale(1.1);
  }
  .Weekboxes3 :hover img {  /* hover zoom */
    transform: scale(1.1);
}
.Weekboxes4 :hover img {  /* hover zoom */
    transform: scale(1.1);
}

    .row2{
      display: flex;
      justify-content: space-between;
      margin: 20px;
    }
    

    .Weekboxes5{
      background-color: white;
      margin: 20px;
      padding: 20px;
      order: 3;
      flex: 1;
      }
    
      .Weekboxes6{
        background-color: white;
        margin: 20px;
        padding: 20px;
        order: 4;
        flex: 1;
        }
      .Weekboxes7{
      background-color: white;
      margin: 20px;
      padding: 20px;
      order: 3;
      flex: 1;
      }
    
      .Weekboxes8{
        background-color: white;
        margin: 20px;
        padding: 20px;
        order: 4;
        flex: 1;
        }

        .Weekboxes5 :hover img {  /* hover zoom */
          transform: scale(1.1);
      }
      .Weekboxes6 :hover img {  /* hover zoom */
          transform: scale(1.1);
      }
      .Weekboxes7 :hover img {  /* hover zoom */
        transform: scale(1.1);
    }
    .Weekboxes8 :hover img {  /* hover zoom */
        transform: scale(1.1);
    }
    
        .row3{
          display: flex;
          justify-content: space-between;
          margin: 20px;
        }
        
    
        .Weekboxes9{
          background-color: white;
          margin: 20px;
          padding: 20px;
          order: 3;
          flex: 1;
          }
        
          .Weekboxes10{
            background-color: white;
            margin: 20px;
            padding: 20px;
            order: 4;
            flex: 1;
            }
          .Weekboxes11{
          background-color: white;
          margin: 20px;
          padding: 20px;
          order: 3;
          flex: 1;
          }
        
          .Weekboxes12{
            background-color: white;
            margin: 20px;
            padding: 20px;
            order: 4;
            flex: 1;
            }
        
            .Weekboxes9 :hover img {  /* hover zoom */
              transform: scale(1.1);
          }
          .Weekboxes10 :hover img {  /* hover zoom */
              transform: scale(1.1);
          }
          .Weekboxes11 :hover img {  /* hover zoom */
            transform: scale(1.1);
        }
        .Weekboxes12:hover img {  /* hover zoom */
            transform: scale(1.1);
        }
        

   
      * {box-sizing: border-box}
      .mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8 {display: none}
      img {vertical-align: middle;}
      
      /* Slideshow container */
      .slideshow-container {
        width: 50%;
        position: relative;
        margin: 100px;
        margin-right:50px ;
       float:left;
      }
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        
      }
      
      /* On hover, add a grey background color */
      .prev:hover, .next:hover {
        background-color: #f1f1f1;
        color: black;
      }
   
  
  @media (max-width: 600px){
    

  
    .row1{
    display: flex;
    flex-direction: column;
    margin: 50px;
    }
   

      .row2{
        display: flex;
        flex-direction: column;
        margin: 50px;
        }

        .row3{
          display: flex;
          flex-direction: column;
          margin: 50px;
          }

        .profile{
          display: flex;
          flex-direction: column;
          margin: 50px;
          }

          .Weekcontainer
          {
            display: flex;
            flex-direction: column;
            margin: 50px;
            }



            @media screen and (max-height: 450px) {
              .sidenav {padding-top: 15px;}
              .sidenav a {font-size: 18px;}
            }